[aria-labelledby="list-group-list"] table  {
    text-align: center;
}

#list-discipline .card-body{
    padding: 5px 23px;
}

#list-discipline table {
    margin-bottom: 0;
}

#list-discipline .accordion .card {
    border: 1px solid #55b0fc;
    border-bottom: 0;
}

#list-discipline .accordion .card:last-child {
    border: 1px solid #55b0fc;
}

/* Class Room */

#class_room .card:first-child {
    margin-top: 0;
}

#class_room .card {
    margin-top: 20px;
}

#before-load {
    position: fixed; /*фиксированное положение блока*/
    left: 0; /*положение элемента слева*/
    top: 0; /*положение элемента сверху*/
    right: 0; /*положение элемента справа*/
    bottom: 0; /*положение элемента снизу*/
    background: #fff; /*цвет заднего фона блока*/
    z-index: 1001; /*располагаем его над всеми элементами на странице*/
}

#before-load i {
    width: 70px; /*ширина gif-изображения*/
    height: 70px; /*высота gif-изображения*/
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../images/img.gif') no-repeat 50% 50%; /*расположение (url) изображения gif и др. параметры*/
    margin: -35px 0 0 -35px;
}

#tasks .task {
    margin-top: 10px;
}

#tasks .task .card-body{
    height: 172px;
}

#tasks .add-task {
    padding: 0;
}

#tasks .add-task .plus {
    width: 20%;
    height: 100%;
    background: #1cae4c;
    border-radius: 5px;
    float: left;
    position: relative;
}

#tasks .add-task .plus span {
    position: absolute;
    left: 50%;
    margin-left: -20.5pt;
    top: 7px;
    font-size: 96px;
    color: white;
}

#tasks .add-task .content {
    float: left;
    width: 80%;
    padding: 1.25em;
    height: 100%;
}

#select_mark {
    width: 50px;
    float: left;
    margin-right: 5px;
}